---
title: Kasai's Wiki
linkTitle: Kasai's Wiki
description:

---

{{% blocks/cover title="Kasai's Wiki" image_anchor="right" height="full" color="white" %}}
<div class='mx-auto'>
    <a class='btn btn-lg btn-secondary mr-3 mb-4' href='{{% relref "/wiki" %}}'>公開記事</a>
    <a class='btn btn-lg btn-secondary mr-3 mb-4' href='{{% relref "/wiki" %}}'>私について</a>
</div>
{{% /blocks/cover %}}

{{% blocks/lead color="primary" %}}
<strong>これはWikiです</strong>

私の知識を言語化するための場所です．そのうち公開できるものをこのページで紹介しようと思っています．

これまでにもZennなどを用いて知識を言語化していますが，そのドラフトであったり，ソフトウェア開発系以外のZennで話すには似合わない話題を書いていこうと考えています．
{{% /blocks/lead %}}
{{% blocks/cover color="white" height="full" %}}
<h2 class="text-center pb-3">Categories</h2>
<div class='showcase'>
    <a href='#'>
        <img src="" height="100px">
        <strong class="text-center d-block">PUIPUI</strong>
    </a>
    <a href='#'>
        <img src="" height="100px">
        <strong class="text-center d-block">PUIPUI</strong>
    </a>
</div>
{{% /blocks/cover %}}
{{% blocks/lead color="white" %}}
<h2 class="text-center pb-3">Welcome to follow me!</h2>
{{% /blocks/lead%}}
{{% blocks/section color="white" type="features" %}}
{{% blocks/feature title="Github" icon="fab fa-github" url="https://github.com/streamwest-1629" %}}
{{% /blocks/feature %}}
{{% blocks/feature title="Twitter" icon="fab fa-twitter" url="https://twitter.com/streamwest1629" %}}
{{% /blocks/feature %}}
{{% blocks/feature title="Youtube" icon="fab fa-youtube" url="https://www.youtube.com/channel/UC2KCTVmQ7fOybJPROH4hU7Q"
%}}
{{% /blocks/feature %}}
{{% /blocks/section %}}