h1 {
    color: #333;
}

.td-navbar {
    a {
        color: #333333 !important;
    }
}

.navbar-bg-onscroll {
    a {
        color: white !important;
    }
}

.td-box--white,
#td-cover-block-2 {

    h2 {
        color: #333333;
    }

    h4,
    a,
    a:hover,
    a:visited,
    p>a,
    p>a:hover,
    p>a:visited,
    i {
        color: $primary;
    }
}

.showcase {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px;
    justify-content: center;

    a {
        display: block;
        width: 150px;
        height: 180px;

        text-align: center;
        justify-content: center;

        img {
            width: 130px;
            height: 130px;
            margin: 5px;
        }

        font-weight: 900;
    }
}

.td-overlay--dark::after {
    display: none;
}

#td-cover-block-0,
#td-cover-block-2 {
    background-position: 97% 50%;
}