name: Publish GitHub Pages
on:
  push:
    branches:
      - main
      - stg

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Collect Submodules
        run: |
          /usr/bin/git submodule update --init --recursive -- themes/docsy
      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.92.0'
          extended: true
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
      - name: Install npm packages
        run: npm ci
      - name: Build Pages
        run: hugo --minify --baseURL https://docs.kasai-san.dev/wiki/
        env:
          HUGO_ENV: production
      - name: check root dir
        run: ls -l -a ./public
      - name: Deploy Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public